<p-scrollPanel #scrollPanel 
               styleClass="messages-container" 
               [style]="{height: '400px'}">
  
  <div *ngFor="let msg of messages; trackBy: trackByMessageId"
       class="message-wrapper" 
       [ngClass]="msg.fromUser ? 'admin' : 'user'">
  <div *ngIf="shouldShowUnreadDivider(msg)" class="unread-divider">
    הודעות חדשות
  </div>
    <div class="message-profile">
      <img [src]="msg.fromUser ?  userPhotoUrl:adminPhotoUrl"
           alt="תמונת פרופיל"
           class="profile-img-small" />
    </div>

    <app-message-item
      [message]="msg"
      [isEditing]="editMessageId === msg._id"
      [editedContent]="editedMessageContent"
      (editStarted)="onEditStarted($event)"
      (editSaved)="onEditSaved($event)"
      (editCancelled)="onEditCancelled()"
      (messageDeleted)="onMessageDeleted($event)"
      (menuToggled)="onMenuToggled($event)">
    </app-message-item>
  </div>
</p-scrollPanel>