<div>
  <p-menubar [model]="routes">
    <ng-template #item let-item>
      <a [routerLink]="item.path" class="p-menubar-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #end>
      <div class="side-container">
        @if (dueDate) {
          <div class="count-down">
            @if (days > 10) {...} @else {!!!}
            עוד 
            @if (days >= 7) { {{ days / 7 | number : "1.0-0" }} שבועות
            @if (days % 7) { ו{{ days % 7 }} ימים} }
            @else if(days>1) { {{ days }} ימים}
            @else {יום אחד}
          </div>
        }
        <p-button
          (click)="roleService.logout()"
          variant="outlined"
          severity="danger"
          >Sign Out</p-button
        >
      </div>
    </ng-template>
  </p-menubar>
</div>
