<div class="message-input">
  <textarea  
    #textArea
    [(ngModel)]="messageContent"
    class="message-input-textarea"
    rows="1"
    placeholder="הקלד הודעה..."
    (input)="autoGrow()"
    (keydown.enter)="handleEnter($event )">
  </textarea>

  <div class="start-recording" *ngIf="!isRecording && !recordedBlob">
    <button class="icon-btn record" 
            (click)="onOpenRecording()" 
            title="התחל הקלטה">
      <i class="pi pi-microphone"></i>
    </button>
  </div>
<button class="icon-btn note"
          (click)="onOpenNoteEditor()"
          title="כתוב תיקון לתלמיד">
    <i class="pi pi-file-edit"></i>
  </button>
  <button type="button" 
          class="send-btn" 
          (click)="onSendMessage()">
    <i class="pi pi-send"></i>
  </button>
</div>

<app-recording
  *ngIf="isRecordingDialogOpen"
  (closed)="onRecordingClosed()"
  (audioRecorded)="onAudioRecorded($event)"
  class="recording-dialog-overlay">
</app-recording>
<app-rich-note
  *ngIf="isNoteEditorOpen"
  [sessionId]="sessionId"
  (closed)="onNoteEditorClosed()"
  class="note-dialog-overlay">
</app-rich-note>

