
<div class="rich-message-wrapper">
  <div class="rich-message-header">
    <h2 class="text-xl font-semibold"></h2>

    <div class="button-group">
      <button pButton pRipple icon="pi pi-print" class="files-buttons"
              (click)="printPage()" title="הדפס" aria-label="הדפס"></button>

      <button pButton pRipple icon="pi pi-download" class="files-buttons"
              (click)="downloadAsWord()" title="הורד" aria-label="הורד"></button>
    </div>
  </div>

  <div class="rich-message-content" [innerHTML]="content"></div>
</div>
