


.new-session-box button {
  padding: 8px;
  background-color: var(--color-primary);
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.new-session-box button:hover {
  background-color: var(--color-primary-dark);
}
/* .new-session-box {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 1px solid var(--color-primary);
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
} */

/* עיצוב לשדה טקסט */
.new-session-box input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.new-session-box input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.15);
  outline: none;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem; /* או 0.5rem לפי הצורך */
  margin-top: 1.5rem; /* או 20px */
  text-align: center;
}


/* עיצוב כפתור יצירה */
::ng-deep .create-session-button .p-button {
  background-color: var(--color-primary);
  color: white;
  border-radius: 8px;
  padding: 0.6rem 1.5rem;
  font-weight: bold;
  border: none;
}

::ng-deep .create-session-button .p-button:hover {
  background-color: #1976d2;
}

/* עיצוב כפתור ביטול */
::ng-deep .cancel-session-button .p-button {
  background-color: var(--color-secondary-light);
  color:var(--color-secondary-dark);
  border-radius: 8px;
  padding: 0.6rem 1.5rem;
  font-weight: bold;
  border: none;
}

::ng-deep .cancel-session-button .p-button:hover {
  background-color: var(--color-secondary);
  color:var(--color-secondary-dark);
}

.new-session-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-session-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-primary-dark, #333);
}

.close-button {
  color: var(--color-primary-dark, #333);
}

.session-title-input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}


::ng-deep .new-session-dialog .p-dialog-content {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.session-input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

::ng-deep .p-dialog {
  border-radius: 1rem;
}

::ng-deep .p-dialog .p-dialog-content {
  padding: 1.2rem;
}

::ng-deep .p-dialog .p-dialog-header {
  padding: 1rem 1.2rem;
  font-size: 1.1rem;
  font-weight: bold;
}
::ng-deep .custom-dialog-header {
  display: flex;
  align-items: center;
  font-size: 1rem; /* או 0.9rem אם רוצים ממש קטן */
  font-weight: 500;
  color: var(--text-color, #333);
}

::ng-deep .custom-dialog-header .pi {
  font-size: 1.2rem;
}
