<div class="session-list">
  <button *ngFor="let s of sessions; trackBy: trackBySessionId" 
          class="session-item"
          [class.selected]="s._id === selectedSessionId"
          (click)="onSessionSelect(s._id)">
    <div class="session-title" >
      שיחה עם {{s.userId[0].email || 'לא ידוע' }}
        <span *ngIf="s.hasUnreadMessages" class="unread-dot">  {{ getUnreadCount(s) }}
</span>
<span *ngIf="s.hasUnreadMessages" class="unread-dot">
  🔴 {{ s.unreadCount || getUnreadCount(s) }}
</span>

    </div>
    <div class="session-dates">
<div class="hebrew-date">
  {{ s.createdAt ? getHebrewDate(s.createdAt) : 'תאריך לא זמין' }}
</div>
      <div class="gregorian-date" *ngIf="s.createdAt">{{ s.createdAt | date: 'dd/MM/yyyy HH:mm' }}</div>
    </div>
  </button>
  
  <button class="new-session-btn" (click)="onNewSession()">+ שיחה חדשה</button>
</div>
