<!-- <p-dialog 
  [(visible)]="isVisible"
  (onHide)="onCancel()"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  [style]="{ width: '400px' }"
  [baseZIndex]="10000"
  [styleClass]="'new-session-dialog'"
[style]="{ width: '80vw', maxWidth: '600px', height: '70vh', maxHeight: '400px' }"
  [breakpoints]="{ '768px': '95vw', '576px': '100vw' }"
  >
 <ng-template pTemplate="header">
    <div class="custom-dialog-header">
      <i class="pi pi-plus" style="margin-inline-end: 0.5rem;"></i>
      <span class="dialog-title">שיחה חדשה</span>
    </div>
  </ng-template>
<div class="new-session-box" *ngIf="isVisible">
  <input type="text"
         [(ngModel)]="sessionTitle"
         placeholder="נושא השיחה (לא חובה)" />

<p-dropdown
  [options]="filteredUsers"
  [(ngModel)]="selectedUserId"
  [optionLabel]="'username'"
  [optionValue]="'_id'"
  [filter]="true"
  [filterBy]="'username,email'"
  placeholder="בחר משתמש"
  (filterChange)="onFilterUsers($event)"
  appendTo="body">

  <ng-template let-user pTemplate="item">
    {{ user.username }} ({{ user.email }})
  </ng-template>

  <ng-template let-user pTemplate="selectedItem">
    {{ user?.username }} ({{ user?.email }})
  </ng-template>

</p-dropdown>
  <div class="form-buttons">
    <p-button label="יצירה"
              icon="pi pi-plus"
              (click)="onSubmit()"
              class="create-session-button" />
  </div>
</div>
</p-dialog> -->
<p-dialog 
  [(visible)]="isVisible"
  (onHide)="onCancel()"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  [style]="{ width: '80vw', maxWidth: '600px', height: '70vh', maxHeight: '400px' }"
  [baseZIndex]="10000"
  [styleClass]="'new-session-dialog'"
  [breakpoints]="{ '768px': '95vw', '576px': '100vw' }"

>
  <ng-template pTemplate="header">
    <div class="custom-dialog-header">
      <i class="pi pi-plus" style="margin-inline-end: 0.5rem;"></i>
      <span class="dialog-title">שיחה חדשה</span>
    </div>
  </ng-template>

  <div class="new-session-box" *ngIf="isVisible">
    <input type="text"
           [(ngModel)]="sessionTitle"
           placeholder="נושא השיחה (לא חובה)" />

    <p-dropdown
      [options]="filteredUsers"
      [(ngModel)]="selectedUserId"
      [optionLabel]="'username'"
      [optionValue]="'_id'"
      [filter]="true"
      [filterBy]="'username,email'"
      placeholder="בחר משתמש"
      (filterChange)="onFilterUsers($event)"
      [panelStyleClass]="'custom-dropdown-panel'"
      appendTo="body">

      <ng-template let-user pTemplate="item">
        {{ user.username }} ({{ user.email }})
      </ng-template>

      <ng-template let-user pTemplate="selectedItem">
        {{ user?.username }} ({{ user?.email }})
      </ng-template>
    </p-dropdown>

    <div class="form-buttons">
      <p-button label="יצירה"
                icon="pi pi-check-circle"
                (click)="onSubmit()"
                class="create-session-button" />
    </div>
  </div>
</p-dialog>
