<!-- 
<div *ngIf="loading" class="spinner">טוען הקלטות...</div>

<div *ngIf="!loading && records.length === 0">
  אין הקלטות להצגה.
</div>

<div *ngIf="!loading && records.length > 0" class="record-list">
  <div *ngFor="let record of records" class="record-card">
    <h3>{{ record.recordName }}</h3>
    <p><strong>סוג:</strong> {{ getTypeLabel(record.type) }}</p>
    <p><strong>שייך ל:</strong> {{ getBelongingLabels(record.belonging) }}</p>
    <p><strong>מיוחד?</strong> {{ record.IsSpecial ? 'כן' : 'לא' }}</p>

    <audio [src]="record.signedUrl" controls></audio>

    <button (click)="deleteRecord(record._id)" class="delete-btn">
      🗑️ מחק
    </button>
  </div>
</div> -->
<p-progressSpinner *ngIf="loading" styleClass="custom-spinner"></p-progressSpinner>

<p-message *ngIf="!loading && records.length === 0" severity="info" text="אין הקלטות להצגה."></p-message>

<div *ngIf="!loading && records.length > 0" class="grid p-2">
  <div *ngFor="let record of records" class="col-12 md:col-6 lg:col-4">
    <p-card header="{{ record.recordName }}" class="shadow-2 border-round mb-4">
      <div class="mb-2">
        <p><strong>סוג:</strong> {{ getTypeLabel(record.type) }}</p>
        <p><strong>שייך ל:</strong> {{ getBelongingLabels(record.belonging) }}</p>
        <p><strong>מיוחד?</strong> {{ record.IsSpecial ? 'כן' : 'לא' }}</p>
      </div>

      <audio [src]="record.signedUrl" controls class="w-full my-2"></audio>

      <button pButton type="button" icon="pi pi-trash" label="מחק"
              (click)="deleteRecord(record._id)" severity="danger"
              class="w-full mt-2"></button>
    </p-card>
  </div>
</div>
