<div class="audio-container">
  <audio #audio [src]="src" (timeupdate)="onTimeUpdate()" controls></audio>
  
<!-- <audio #audio controls [src]="src" (timeupdate)="onTimeUpdate()" (loadedmetadata)="onTimeUpdate()" (error)="handleError()"></audio> -->
  <div class="controls">
    <button class="circle-btn" (click)="togglePlay()">
      <i class="pi" [ngClass]="isPlaying ? 'pi-pause' : 'pi-play'"></i>
    </button>
    <span class="time-label">{{ formatTime(currentTime) }} / {{ formatTime(duration) }}</span>
  </div>

  <input
    type="range"
    class="seekbar"
    [value]="currentTime"
    [max]="duration"
    (input)="onSeek($event)"
  />

  <div class="action-buttons">
    <!-- <button class="action-btn" (click)="download()"> -->
<a [href]="getSafeUrl(src)" download="recording.webm">
      <i class="pi pi-download"></i>
    </a>
  </div>
</div>

